/* 
* Estilo personalizados
*/
.major{
    background-color: #d8eefe !important;
    color: #094067 !important;
}
.major .nav-link,
.major .navbar-brand {
    color: #094067 !important;
}
.secondary{
    background-color: #3da9fc !important;
    color: #fffffe !important;
}
.badge.bg-badge{
    background-color: #ef4565;
    color: #fffffe;
}

.border.bg-border{
    border: 2px solid #094067 !important;
}
.bottom.bg-border{
    border-bottom: 2px solid #094067 !important;
}

.bus.bg-bus{
    background-color: #d8eefe;
    color: #094067;
    font-weight: bold;
}

.btn {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.btn:hover{
    box-shadow: 0px 0px 2px #000;
}
.table thead tr{
    border-bottom: 3px solid #000 !important;
    border-top: 3px solid #000 !important;
    background-color: #d8eefe !important;
}

.dropdown-menu {
    right: 0; /* Asegura que el menú se alinee correctamente */
    left: auto; /* Desactiva el valor izquierdo para prevenir desbordamiento */
}

/* 
 *Estilos para la vista boleto.php
*/
    .ticket {
        border: 1px solid #ddd;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
    }
    p {
        margin: 5px 0;
    }


/* CSS para asegurar que el footer esté en la parte inferior */
    html, body {
        height: 100% !important;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .content {
        flex: 1 !important;
    }
    footer {
        background-color: #d8eefe !important;
        color: #094067 !important;
    }
    footer a {
        color: #094067 !important;
    }


/* BOLETO */
.ticket {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.ticket-header, .ticket-footer {
    text-align: center;
    margin-bottom: 20px;
}
.ticket-header img {
    width: 100px;
    height: auto;
}
.ticket-header h2 {
    margin: 10px 0;
    font-size: 24px;
}
.ticket-info {
    margin-bottom: 20px;
}
.ticket-info div {
    margin-bottom: 10px;
}
.ticket-info span {
    display: block;
    font-weight: bold;
}
.ticket-footer {
    font-size: 12px;
    color: #555;
}
.barcode {
    text-align: center;
    margin-top: 20px;
}